/*
Plugin Name: Entradas filtradas por campo personalizado
Plugin URI: 
Description: Permite mostrar las entradas (mediante imagenes destacadas) utilizando como filtro en un campo personalizado.
Author: Daniel Casabona Gomez
Version: 1.0
Author URI: http://casabona.tk/
*/


#ordena_titulo, #ordena_error{
text-align:center;
padding:15px 0;}

.ordena_fotos{
margin: 30px 0;}

.ordena_lista_ul{
text-align: center;
margin: 20px 0 0 0;
padding:0;}

.ordena_lista_li{
float:none;
display: inline-block;
*display: inline;
zoom: 1;}
	
.ordena_elemento{
margin:3px;
border-radius: 3px;
border-width: 1px;
border-style: solid;
padding: 4px;
border-color: black;
-moz-box-shadow: 0 0px 3px black;
-webkit-box-shadow: 0 0px 3px black;
box-shadow: 0 0px 3px black;
max-width:130px;
}

.ordena_elemento:hover{
opacity: 0.6;
border-color: red;
-moz-box-shadow: 0 0px 3px red;
-webkit-box-shadow: 0 0px 3px red;
box-shadow: 0 0px 3px red;
}